@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fff;
  padding: 0px;
  border: 0px solid #1d1d1d;
  font-family: "Poppins", sans-serif;
}
body header {
  background: url("./img/top-view-blue-origami-paper-fan-plain-background_23-2148188402.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
body header .logo {
  margin-bottom: 0.5rem;
}
body header .style-logo {
  margin: 1rem 5rem;
  padding: 0.5rem;
  border: #304b73 solid 2px;
  border-bottom: none;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6509803922) 30%, rgba(0, 156, 88, 0.3215686275) 100%);
}
body .greeting {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
  color: #1d1d1d;
}
body .center-top-5 {
  text-align: center;
}
body .center-top-5 .headingBlackH3 {
  color: #1d1d1d;
  opacity: 0;
}
body .main-body {
  padding: 0 10px;
}
body h1, body h2, body h3 {
  color: #0075c9;
}
body .om-color {
  color: #009c58;
}
body .discovery-color {
  color: #b9875d;
}
body .hollard-color {
  color: #f65725;
}
body .outsurance-color {
  color: #7a378d;
}
body p {
  color: #1d1d1d;
  font-size: 16px;
}
body ul {
  padding: 20px;
}
body img {
  max-width: 300px;
  margin: 20px 0;
}
body .presenter {
  position: absolute;
  top: 14.5%;
  left: 75%;
  z-index: 1;
}
body .presenter-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .presenter-image .sanlamRep {
  border: solid 1px rgba(29, 29, 29, 0.1019607843);
  border-radius: 50%;
}
body .sanlam-theme {
  background: linear-gradient(90deg, rgba(0, 117, 201, 0.3137254902) 0%, rgba(0, 156, 88, 0) 100%);
  padding: 20px;
  border-radius: 15px;
}
body .sanlamLogo {
  background: linear-gradient(90deg, #ffffff 20%, rgba(0, 117, 201, 0) 50%);
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
body .om-theme {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 156, 88, 0.5882352941) 100%);
  padding: 20px;
  border-radius: 15px;
}
body .oldMutualLogo {
  background: linear-gradient(90deg, #ffffff 40%, rgba(0, 156, 88, 0) 50%);
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
body .discovery-theme {
  background: linear-gradient(90deg, rgba(185, 135, 93, 0.5882352941) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 20px;
  border-radius: 15px;
}
body .discoveryLogo {
  background: linear-gradient(90deg, #ffffff 30%, rgba(185, 135, 93, 0) 50%);
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
body .hollard-theme {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 87, 37, 0.5882352941) 100%);
  padding: 20px;
  border-radius: 15px;
}
body .outsurance-theme {
  background: linear-gradient(90deg, rgba(122, 55, 141, 0.5882352941) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 20px;
  border-radius: 15px;
}
body a {
  color: #0075c9;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body .hero-img {
  position: absolute;
  top: 62%;
  left: 0%;
}
body .curious-eyes {
  position: absolute;
  top: 29.8%;
  left: 35%;
  transform: rotate(-180deg);
}
body .flag-rsa {
  position: absolute;
  top: 63.8%;
  left: 75%;
}
body .bottom-section {
  margin-top: 5rem;
  padding: 20px;
  background: #f5f5f5;
  border: 1px dotted #1d1d1d;
  border-radius: 5px;
}
body .bottom-section .banner-disclaimer {
  position: relative;
  background: #fff;
}
body .bottom-section .banner-disclaimer .presenter-sanlam {
  position: absolute;
  top: -190%;
  left: 45%;
}
body .bottom-section .banner-disclaimer .presenter-om {
  position: absolute;
  bottom: 0;
  left: 45%;
}
body .bottom-section .banner-disclaimer .presenter-discovery {
  position: absolute;
  bottom: 0;
  left: 42%;
}
body .bottom-section .banner-disclaimer .presenter-hollard {
  position: absolute;
  bottom: 0;
  left: 36%;
}
body .bottom-section .banner-disclaimer .presenter-outsurance {
  position: absolute;
  bottom: 0;
  left: 55%;
}
body .bottom-section .banner-disclaimer .disclaimer {
  font-size: 12px;
  color: #1d1d1d;
  margin-top: 20px;
  text-align: center;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.4);
}
body footer {
  background: #343636;
  text-align: center;
  padding: 20px;
  margin-top: 2rem;
}
body .footer-text {
  color: #fff;
}/*# sourceMappingURL=styles.css.map */