// Import Sanlam's color palette (if available)
// Replace with the actual path to your color palette
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  background-color: #fff; // Replace with the actual white color from the palette
  padding: 20px;
  border: 1px solid #1d1d1d; // Replace with the actual gray color from the palette
  font-family: "Poppins", sans-serif;
   
 header {
    text-align: center;
 }

  h1, h2 {
    color: #0075c9; // Replace with the actual blue color from the palette
    font-size: 24px;
  }

  p {
    color: #1d1d1d;
    font-size: 16px;
  }

  img {
    max-width: 300px;
    margin: 20px 0;
  }

  a {
    color: #0075c9;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .bottom-section {
    margin-top: 5rem;
    padding: 20px;
    background: #f5f5f5; // Replace with the actual light gray color from the palette
    border: 1px dotted #1d1d1d;
    border-radius: 5px;
  

  .banner-disclaimer {
    position: relative;
    background: #fff;

    .presenter {
      position: absolute;
      bottom: 0;
      left: 48%;
      
    }

  .disclaimer {
    font-size: 12px;
    color: #1d1d1d;
    margin-top: 20px;
    text-align: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.4);
  }
}
}
}